<%- include('partials/header.ejs') %>
<div class="main_content">
    <div class="header">
        <h2>CONSENT page</h2>
    </div>
    <div class="card">

        <div class="slider slider-middle">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <% for (var content of contents) { %>
                <div class="slide s1">
                    <img src="<%= content.Image1_path %>" alt="">
                </div>
                <div class="slide">
                    <img src="<%= content.Image2_path %>" alt="">
                </div>
                <div class="slide">
                    <img src="<%= content.Image3_path %>" alt="">
                </div>
                <% } %>
            </div>

            <div class="img-navs">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
            </div>
        </div>

        <div class="card-text">
            <% for (var content of contents) { %>
            <%= content.Text %>
            <p>Currently we do not seek written consent for intensive care procedures in line with practice across the UK. Many of these procedures may be invasive, such as insertion of breathing tubes, venous and arterial lines, and chest drains. It may also include blood transfusions.</p> <p>All ICU procedures carry risks. However, we only carry them out if we think the overall benefit to care is greater than the risk of each individual procedure. Where possible, we will discuss the risks and benefits with you before carrying them out. Sometimes though, these procedures need to be carried out urgently and this will not be possible.</p> <p>If you have any concerns, please raise this with the team at the bedside, or contact us through the FAQ page.</p>
            <% } %>
        </div>
        <form action="/edit-content_8" method="GET">
        <button class="edit-button">Edit</button>
        </form>
    </div>
</div>
<%- include('partials/footer.ejs') %>