<%- include('partials/header.ejs') %>
<div class="main_content">
    <div class="header">
        <h2>Content</h2>
    </div>
    <div class="card">

        <div class="slider slider-middle">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <% for (var content of contents) { %>
                <div class="slide s1">
                    <img src=".<%= content.Image1_path %>" alt="">
                </div>
                <div class="slide">
                    <img src=".<%= content.Image2_path %>" alt="">
                </div>
                <div class="slide">
                    <img src=".<%= content.Image3_path %>" alt="">
                </div>
                <% } %>
            </div>

            <div class="img-navs">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
            </div>
        </div>

        <div class="card-text">
            <% for (var content of contents) { %>
            <%= content.Text %>
            <% } %>
            
        </div>
        <form action="/edit-content/<%= parentId %>" method="GET">
        <button class="edit-button">Edit</button>
        </form>
    </div>
</div>
<%- include('partials/footer.ejs') %>