<%- include('partials/header.ejs') %>
<div class="main_content">
    <div class="header">
        <h2>User Management</h2>
    </div>

<table style="width:100%">
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
    <tbody>
        <% for (var user of users) { %>
      <tr>
        <td data-title="id"><%= user.id %></td>
        <td data-title="email"><%= user.email %></td>
        <td data-title="password"><%= user.password %></td>
        <td data-title="action">                       
                <form action="/user-edit/<%= user.id %>" method="GET">
                  <button type="submit" class="edit-faq">Edit</button>
              </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

<%- include('partials/footer.ejs') %>
