<%- include('partials/header.ejs') %>
<div class="main_content">
    <div class="header">
        <h2>User Management</h2>
    </div>
    <div class="card">

<body>
<div class="main_content">
            <table class="table table-striped">
            <thead>
              <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody class="item">
            <% for (var user of users) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.password %></td>
                <td>placeholder</td> 
              </tr>
              <% } %> 
            </tbody>
          </table>
                
</div>
</body>


<%- include('partials/footer.ejs') %>
